<section class="home">
  <div class="title">
    <h1>{{ vm.title }}</h1>
    <h3>Trying to get a job at Redox Yo</h3>
    <p>Hi Dan,<br>
<br>
For the technical interview, we'll build a tool to analyze pull request traffic for a Github organization. We'll break up the project into two parts: (1) a piece that you build on your own and (2) a pairing session where we'll build on top of what you completed on your own. <br>
<br>
For the part you do on your own: write some code that will retrieve all pull requests for the lodash organization using the Github web API and store the results in memory. When we pair, we will use this collection of pull requests to to answer questions like "how many pull requests were merged each week across the organization?" (as a simple example).<br> 
<br>
Do not use a pre-existing Github library. We want to see you interact directly with the Github API. Other than that, use whatever tools (language, frameworks, etc) you like, structure your code however you like, etc. We care much more about how you solve technical problems generally than any specific knowledge.<br>
<br><br>
Here are some resources:<br>
lodash organization: https://github.com/lodash<br>
Github API docs: https://developer.github.com/v3/<br>
<br>
Let me know when you expect to complete the first part of the project. We'll schedule a pairing session for shortly after that time. Prior to the pairing session, push your project to your Github account and send me a link to the repo.<br>
<br>
Feel free to ask questions as you go!<br> 
<br>
Best,<br>
Andy</p>
  </div>
</section>
